server:
    port: 8080
    servlet:
      context-path: /environment
    tomcat:
      accesslog:
        buffered: true
        directory: C:/logs
        enabled: true
        file-date-format: yyyy-MM-dd
        pattern: common
        prefix: access_log
        rename-on-rotate: false
        request-attributes-enabled: false
        rotate: true
        suffix: .log
spring:
    devtools:
       restart:
         enabled: false
    datasource:
      driver-class-name: com.mysql.jdbc.Driver
      url: jdbc:mysql://139.196.200.37:3306/environment2?characterEncoding=utf-8
#      url: jdbc:mysql://127.0.0.1:3306/environment2?characterEncoding=utf-8
      hikari:
#        username: root
#        password: 123000
        username: environment
        password: Nelson1006.
    jpa:
        hibernate:
          ddl-auto: update
        show-sql: true
    redis:
        host: 127.0.0.1
        port: 6379
        password:
        database: 0
logging:
  file: C:\logs\environment.log